<strong>Olá, {{provider}} </strong>
<p>Houve um cancelamento de horário, confira o detalhamento abaixo:</p>
<p>
  <strong>Client: </strong>{{ user }} <br />
  <strong>Data/hora: </strong>{{ date }} <br />
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos
  </small>
</p>
